    .input-group, .btn {
     margin-bottom: .5em; 
    }
    .center {
      text-align: center;
    }
    .shrink {
      width: 10em;
    }

    .form-control {
      font-weight: bold;
    }

    .panel-heading {
      font-weight: bold;
    }

    .responsive-btn {
      white-space: normal;
      width: 80%;    
    }

    .bold {
      font-weight: bold;
    }

    .brand {
      font-family: helvetica, "sans-serif";
      color: #666;
      font-weight: bold;
      padding: .2em;
    }