html, body{
	margin: 0px;
	font-family: Raleway, sans-serif;
}

h1{
	font-weight: bold;
	font-size: 3.5em;
	text-align: center;
}

.btn-responsive {
	margin-top:15px;
	margin-left:15px;
	min-height: 4em;
	width:90%;
	white-space: normal;
}

.contact{
	margin:0px;
}