html, body {
height: 100%;
font-family: Raleway, san-serif;
}

.sidebar{
	height: 100vh;
	overflow-y: scroll;
}

.project-row{
	cursor: pointer ;
}
.project-row:hover{
	text-decoration: underline;
}

#timeline {
	font-family: Raleway
}