<h1>Vacant Property Review Commission</h1>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#applications">Properties</a></li>
</ul>

<h2>{{address}}</h2>


    <div class="row">
    	<div class="col-sm-12">
    	<div class="panel panel-default panel-body">    		
			<div class="col-sm-6">	
				<p class="record"><strong>Parcel No: </strong>{{parcelid}}</p>
				<p class="record"><strong>Status: </strong>{{status}}</p>
				<p class="record"><strong>Status Date: </strong>{{statusdate}}</p>
				<p class="record"><strong>Water Service: </strong>{{water}}</p>
				<p class="record"><a ng-href="http://qpublic9.qpublic.net/ky_fayette_display.php?county=ky_fayette&KEY={{parcelid}}">PVA Page</a></p>
			</div>
			<div class="col-sm-6">
				<img class="img-rounded" ng-src="http://qpublic9.qpublic.net/fayette_photos/{{parcelid}}-1.jpg"  width="100%
				">
			</div>
		</div>
		</div>
	</div>
	
	<div class="row">
	 	<div class="col-sm-12">
		<div class ="panel panel-default panel-body">
		<h3>Inspections</h3>
	    <div ng-repeat="x in inspections">
	    		<hr>
				<p class="record"><strong>Date: </strong>{{x.InspectDate}}</p>
				<p class="record"><strong>Vacant: </strong>{{x.Vacant}} {{x.VacantDescription}}</p>
				<p class="record"><strong>Meter: </strong>{{x.Meter}}</p>
				<p class="record"><strong>Unsecured: </strong>{{x.Unsecured}}</p>
				<p class="record"><strong>Boarded: </strong>{{x.Boarded}}</p>
				<p class="record"><strong>Trash and Debris?: </strong>{{x.Trash}} {{x.TrashLocation}}</p>
				<p class="record"><strong>Vermin: </strong>{{x.Vermin}} {{x.VerminDesc}}</p>
				<a ng-href="{{x.Photos}}">Photos</a>

	    </div>
	    </div>
		</div>
	 
		
		</div>
	    <div class="row">

		<div class="col-sm-6">
		<div class ="panel panel-default panel-body">
		<h3>Permits</h3>
	    <div ng-repeat="x in permits">
	    		<hr>
				<p class="record"><strong>Date: </strong>{{x.Date}}</p>
				<p class="record"><strong>Type: </strong>{{x.PermitType | titlecase}}</p>
				<p class="record"><strong>Owner: </strong>{{x.OwnerName | titlecase}}</p>
				<p class="record"><strong>Contractor: </strong>{{x.Contractor | titlecase}}</p>

	    </div>
	    </div>
		</div>

	 	<div class="col-sm-6">
				<div class ="panel panel-default panel-body">
		<h3>Code Cases</h3>
	    <div ng-repeat="x in codecases">
	    		<hr>
				<p class="record"><strong>Date Opened: </strong>{{x.DateOpened}}</p>
				<p class="record"><strong>Case Type: </strong>{{x.CaseType}}</p>
				<p class="record"><strong>Status: </strong>{{x.Status}} ({{x.StatusDate}})</p>
	    </div>
	    </div>
		</div>

</div>

<div class="row"> 
    <div class="col-sm-6">
    </div>
	<div class="col-sm-6">
	</div>
</div>