<h1>Vacant Property Review Commission</h1>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#applications">Properties</a></li>
</ul>

<h3>Properties</h3>
<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped table-hover">
       <thead>
           <tr>
              <th colspan="4"><input st-search placeholder="Search" class="input-md form-control" type="search"></th>
           </tr>
           <tr>
             <th st-sort="ParcelID" class="sortable">ParcelID</th>
             <th st-sort="Address" class="sortable">Address</th>
             <th st-sort="StatusDate" class="sortable">Status Date</th>
             <th st-sort="Status" class="sortable">Status</th>
           </tr>
       </thead>
       <tbody>
       <tr ng-repeat="x in displayedCollection">
           <td><a ng-href="#properties/{{x.ParcelID}}">{{x.ParcelID}}</a></td>
           <td><a ng-href="#properties/{{x.ParcelID}}">{{x.Address}}</a></td>
           <td><a ng-href="#properties/{{x.ParcelID}}">{{x.Status}}</a></td>
           <td><a ng-href="#properties/{{x.ParcelID}}">{{x.StatusDate}}</a></td>
       </tr>
       </tbody>
       <tfoot>
        <tr>
        <td colspan="5" class="text-center">
          <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="4"></div>
        </td>
      </tr>
    </tfoot>
</table>
